#products_box{
width:1040px;
text-align:center;
margin-left:150px;
margin-bottom:10px;
}
#single_product {
float:left;
margin-left:5px;
padding:10px;

}
#single_product img{
border:1px solid black;

}