.container1{
padding-top:40px;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 20px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
